body{
    font-family: Verdana, Geneva, sans-serif;
    color: aliceblue;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/tweed.png);
}

.jumbotron{
    color: rgb(72, 65, 65);
    margin: 35px;
    border: 10px double aliceblue;
    padding: 35px;
}

.player{
    border: 2px solid aliceblue;
}

#chatBox{
    border: 100px solid black;
}